<p *ngIf="payment == null">Nenhum pagamento seleccionado!</p>

<div *ngIf="payment != null">

    <div class="row">
        <div class="col-6">
          <div class="form-group">
              <label for="contactFromId">Origem</label>
              <select class="form-control" id="contactFromId" [(ngModel)]="payment.contactFromId">
                <option *ngFor="let contact of contacts; index as i" [value]="contact.id">{{contact.name}}</option>
              </select>
          </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="contactToId">Destino</label>
                <select class="form-control" id="contactToId" [(ngModel)]="payment.contactToId">
                  <option *ngFor="let contact of contacts; index as i" [value]="contact.id">{{contact.name}}</option>
                </select>
            </div>
        </div>
      </div>
  <div class="row">
    <div class="col-12">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="nome" [(ngModel)]="payment.description">
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd" name="dp" #c2="ngModel" [(ngModel)]="payment.dateOfPayment" ngbDatepicker #d2="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="d2.toggle()" type="button">
              <i class="fas fa-calendar-alt"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="valor" [(ngModel)]="payment.amount" decimalInputValidator>
        </div>
      </div>
  </div>

  <button class="btn btn-success" (click)="save()"><i class="fas fa-sync-alt"></i> Atualizar</button>
  <button class="btn btn-danger" (click)="remove()"><i class="fas fa-trash-alt"></i> Remover</button>
</div>
