<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-header">
        Pagamentos
      </div>
      <div class="card-body">
          <table class="table table-sm table-hover">
            <thead>
              <tr>
                <th scope="col">Data</th>
                <th scope="col" class="text-right">Valor</th>
                <th scope="col">Descrição</th>
              </tr>
            </thead>
            <tbody>
              <tr (click)="getPayment()">
                <td>2018-01-08</td>
                <td class="text-right">30,00 €</td>
                <td>Quotização de Janeiro de 2018 do 10ºA</td>
              </tr>
              <tr (click)="getPayment()">
                <td>2018-01-05</td>
                <td class="text-right">275,42 €</td>
                <td>Assistência Técnica dos Elevadores do 1º Trimestre de 2018</td>
              </tr>
              <tr (click)="getPayment()">
                <td>2018-01-03</td>
                <td class="text-right">94.19 €</td>
                <td>Eletricidade</td>
              </tr>
            </tbody>
          </table>

          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-header">
        Adicionar/Editar
      </div>
      <div class="card-body">
        detail
      </div>
    </div>
  </div>
</div>
